@model string

@{
    if (Model != "")
    {
        List<string> list = Model.Split(',').ToList();
        foreach (var item in list)
        {
            string src = "/images/panelimages/" + item;
            string id = item;
            <div style="padding:5px;border:1px solid #ddd;border-radius:5px;display: inline-block;margin-left:10px">
                <img style="max-width: 100px;border-radius: 5px;" src=@src>
                <div class="btn btn-default REM" id=@id>حذف</div>
            </div>
        }
    }

}

<script>
    $(".REM").click(function () {
        var id = $(this).attr('id');
        $("#loading").css("display", "inline-block");
        $.ajax({
            url: '/Admin/DelImage',
            data: {
                filename: id
            },
            dataType: 'html',
            success: function (data) {

                $('#thumbholder').html(data);
                $("#loading").css("display", "none");
            },
            error: function () {

            }
        });


    })
</script>