


body {
    --direction: rtl;
    --align: left;
    --font: IRANSans
}

.headerSection {
    background:  url("/Images/city-nawpic.jpg");
    background-repeat: no-repeat;
    padding-top:200px;
}

.logosection {
    padding: 50px 30px 160px;
    display: flex;
    align-items: center
}

    .logosection ul {
        list-style-type: none;
        flex: 1;
        direction: rtl;
        font-size: 18px;
        color: white;
        height: 100%;
        align-items: center;
    }

        .logosection ul li {
            display: inline;
            cursor:pointer
        }

.headerSection h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}

.formsection {
    width: 80%;
    margin: 40px auto 0;
    display: flex;
    padding: 15px;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    background-color: #EFEFEF;
    direction: var(--direction)
}
.dropdownholder{
    padding:0 5px;
    width:28%;
}
.searchButton {
    padding: 0px 25px;
    background-color: #F85C9B;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.formsection input {
    height: 44px;
    flex: 1;
    border: 1px solid #ddd;
    background-color: #EFEFEF;
    border-radius: 5px;
  
    direction: var(--direction);
    text-align: var(--align);
    width: 33%;
}

.menuSection {
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px
}

    .menuSection .child {
        width: 100%
    }

.ITEMCAT {
    background-color: rgba(255,255,255,0.1);
    box-shadow: none;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    padding: 4px 15px;
    margin-left: 10px;
    display: inline-block;
    width: 90px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-radius:4px
}

    .ITEMCAT img {
        max-width: 50px;
        display: block;
        margin: auto;
    }

    .ITEMCAT p {
        text-align: center;
        white-space: nowrap;
        width: 100%;
        overflow: hidden
    }

#cityDropDown, #countryDropDown {
    width: 28%;
    height: 44px;
    background-color: #EFEFEF;
}

.mapsection {
    background-color: #2D2D2D;
    padding: 40px;
}

    .mapsection h3, h6 {
        margin: 0
    }

    .mapsection h6 {
        color: rebeccapurple;
        margin-top: 10px
    }

    .mapsection img {
        width: 60%;
        margin: auto;
        display: block
    }

.textSection {
    display: flex;
    width: 70%;
    margin: auto;
    direction: var(--direction)
}

    .textSection div {
        width: 33%;
        padding: 10px;
    }

        .textSection div .hd {
            font-size: 15px;
            color: white;
            text-align: var(--align)
        }

        .textSection div .content {
            font-size: 12px;
            color: white;
            text-align: var(--align)
        }

.viewProduct {
    background-color: #EFEFEF;
    padding: 80px 15%;
}

    .viewProduct h3, h6 {
        padding: 5px;
        margin: 0;
        color: #707070;
    }

.slidHolder {
    margin-top: 50px;
}

    .slidHolder p {
        text-align: center;
        margin-top: 10px;
        padding:0
    }
.title{
    font-size:15px
}
.bannerHolder1 {
    background-color: white;
    display: flex;
    padding: 50px 10px;
    justify-content: center;
}

    .bannerHolder1 div {
        width: 25%;
        padding: 10px;
        object-fit:cover;
    }
        .bannerHolder1 div img {
            width: 100%;
            box-shadow: 2px 2px 3px 1px rgba(148,149,153,1)
        }
.bannerHolder2 img {
    width: 100%;
    box-shadow: 2px 2px 3px 1px rgba(148,149,153,1)
}

.bannerHolder2 {
    background-color: white;
    display: flex;
    padding: 50px 10px;
    justify-content: center;
}

    .bannerHolder2 div {
        width: 50%;
        padding: 20px;
    }

    .bannerHolder2 img {
        width: 100%
    }

.blogHolder {
    background-color: #EFEFEF;
    padding: 80px 15%;
}

    .blogHolder h3, h6 {
        padding: 5px;
        margin: 0;
        color: #4d4d4d
    }

.slidBlogHolder {
    background-color: white;
    padding-bottom: 10px;
   
}
    .slidBlogHolder:hover {
        box-shadow: 2px 2px 3px 1px rgba(148,149,153,1);
        transform: translateY(-5px);
        transition: all .4s ease;
    }

    .blogcontnet {
        text-align: var(--align) !important;
        font-size: 14px;
        -webkit-line-clamp: 3;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        height: 80px;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        padding: 10px;
    }
.moreblog{
  
    text-align:var(--align);
    font-size:12px;
    color:blueviolet;
    cursor:pointer;
    margin:10px;
  
}

.titlecontnet {
    color: rebeccapurple;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap
}

.footerSection {
    display: flex;
    background-color: #373737;
    direction: var(--direction)
}

    .footerSection .aboutUs {
        width: 70%;
        padding: 40px;
        color: white
    }

        .footerSection .aboutUs p {
            padding-top: 20px;
            text-align: var(--align)
        }

    .footerSection .Tag {
        width: 30%;
        padding: 40px;
        color: white;
        direction: var(--direction);
        text-align: var(--align)
    }
.footerIcon {
    display: flex;
    align-items: center
}
.footerIcon i{
    margin : 0 15px
    
}
.footerIcon i span{
    margin-left:5px
}
    .footerIcon .link{
        font-weight:600;
        cursor:pointer
    }

    .footerSection .Tag p {
        font-size: 26px
    }

        .footerSection .Tag span {
            padding: 5px;
            border: 1px solid white;
            color: white;
            background-color: royalblue;
            display: inline-block;
            margin: 5px
        }

#mapid {
    height: 100%
}

#contentHolder {
    flex: 1;
    color: #1c1c1c;
    width: 35%;
    overflow: scroll;
}

.itemHolder {
    width: 100%;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #eee;
    direction: var(--direction);
    cursor: pointer;
    position: relative;
}

    .itemHolder .cover {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .itemHolder img {
        width: 115px;
    }

    .itemHolder .DATA {
        flex: 1;
        padding: 10px
    }

       

.logosectionalone {
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 9;
    width: 100%;
    top:0
}
    .logosectionalone img{
        max-width:180px
    }

    .logosectionalone ul {
        list-style-type: none;
        flex: 1;
        direction: rtl;
        font-size: 15px;
        color: white;
        height: 100%;
        align-items: center;
        margin: 0;
        padding-right:10px
    }

        .logosectionalone ul li {
            display: inline;
            cursor:pointer
        }

.imageholder {
    object-fit: cover;
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    display: flex
}

    .imageholder img {
        width: 100%
    }

.itemRow {
    padding: 15px 5px;
    direction: var(--dir);
    border: 1px solid #eee;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px -1px rgba(148,149,153,1);
    background-color: #eee;
    margin-bottom: 20px;
}

    .itemRow p {
        text-align: var(--align);
        font-weight:600
    }

    .itemRow input {
        margin-top: 15px;
        text-align: var(--align)
    }

.imageparent {
    display: flex;
    padding: 10px;
    z-index: 0;
}

.imageCover {
    border-radius: 5px;
    object-fit: scale-down;
    align-items: center;
    width: 90px;
    height: 90px;
    position: relative;
    border: 1px solid #eee;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin: 0 10px;
    border-radius:5px;
    border:1px solid white
}

    .imageCover img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    .imageCover i {
        position: absolute;
        top: 10px;
        left: 10px;
    }

.default {
   width:100%
}

.contentHolder {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background: linear-gradient(to left, rgba(202, 119, 180, 0.5) 0%, rgba(202, 119, 180, 0.5) 100%), url(/Images/images.jpg) no-repeat; background-size: auto;
}

.parent {
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
}

.ItemsHome {
    padding: 15px;
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 0px;
    box-shadow: 2px 2px 5px -1px rgba(148,149,153,1);
    border-radius: 5px;
    height: 90%;
    overflow-y: scroll;
    margin-top:50px;
}
.creatButt {
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginMain {
    color: #4d5475;
    background: linear-gradient(to left, rgba(202, 119, 180, 0.5) 0%, rgba(202, 119, 180, 0.5) 100%), url(/Images/images.jpg) no-repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.rowholder{
    width:100%;
}
.registererror {
    display: none;
   
    position: absolute;
   
    left: 0%;
    top: -20px;
    right: 0;
    color: white;
    margin: auto;
    width: 100%;
    max-width: 400px;
  
}
    .registererror p {
        background-color: red !important;
        border-radius: 120px;
        padding: 10px;
        width: 60%;
        float: left;
    }
.mainlabla {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    padding: 10px;
    position: relative;
    justify-content: center;
}
        .mainlabla input, p {
            border: 0;
            width: 100%;
            max-width: 400px;
            margin: 0;
            padding: 15px;
            border-radius: 120px;
            text-align: var(--align);
            outline: none;
        }
            .mainlabla input{
                text-align:center
            }
            .rememberMe {
                width: 75%;
                max-width: 400px;
                margin: auto;
                direction: var(--direction);
            }
.rememberMe label{
    margin:3px;
    color:white
}
.mainlabla p {
    text-align: center;
    background-color: dimgray;
    color: white;
}
.mainlabla a{
    text-decoration:none;
    cursor:pointer
}
.buttonholder {
    margin: 0 auto;
    direction: var(--direction)
}
.buttonholder a{
    text-decoration:none;
    
}
#demo{
    font-family: var(--font)
}
#resendButt {
    pointer-events: none;
}
.consentparent {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: auto;
}
.captchaChild{
    display:flex;
    direction:var(--direction);
    justify-content:center
}
.c-form-account__col {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
   
}
.control-label{
    color:white;
}
#registeragreement-error{
    margin:5px
}
#accountAutoLogin{
    margin:5px
}
.BDC_CaptchaDiv{
    margin: auto !important
}
.langHolder {
    margin: 0px;
    padding: 0
}
.lanParent{
    min-width:90px;
    text-align:center
}
.langHolder a{
    text-decoration:none;
    color:#4d4d4d
}
.langHolder a img{
    margin:0 5px
}
.langHolder:hover{
    background-color:#eee;
}
.viewProduct h3, h6 {
    padding: 5px;
    margin-top: -17px;
    color: #707070;
    width: 60%;
    margin: auto;
    margin-top: -17px;
    background-color: #EFEFEF;
    margin-bottom:20px
}

h1, h2, h3, h4, h5, h6, input, textarea,p {
    font-family: var(--font) !important;
    color: #707070;
    text-align: center
}

.line {
    box-shadow: 2px 2px 5px 0px rgba(148,149,153,1);
    background-color: white;
    height: 1px;
    width: 100%
}


.headerSection h2{
    color:white;
}
.countryItem{
    margin:0px;
    padding:10px;
    white-space:nowrap;
  
    text-align:center
    
}
    .countryItem p {
        background-color: white;
        border-radius: 20px 0 20px 0;
        direction: var(--direction);
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .countryItem p span{
            margin:0 5px;
        }
        .countrylist {
            padding: 15px;
        }
.subcatHolder {
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: white;
    direction : var(--direction)
}

    .subcatHolder p {
        padding: 12px 10px;
        direction: var(--direction);
        border-bottom: 1px solid #eee;
        margin: 0;
        cursor: pointer;
        text-align: var(--align);
        font-size : 13px;
    }

.subcatimage {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0px;
}

.subcatHolder img {
    padding: 5px
}
.itemHolder .DATA h4, h5 {
    text-align: var(--align);
    color: #4d4d4d
}
.blogList{
    cursor:pointer
}
.slidItemHolder{
    cursor:pointer
}
.detailField{
    padding:15px;
   
    color: black
}
    .detailField p {
        color: white;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: initial;
        text-align:var(--align);
        font-size:15px
    }
        .detailField p.tile{
            font-size:20px; 
            font-weight:600;
            text-align:center
        }
        .detailDesc {
            color: black !important;
            max-width: inherit !important;
            direction: var(--direction) !important;
            font-size: 15px;
            font-family: var(--font);
        }
textarea {
    text-align: var(--align)!important;
}
.notitemclass {
    box-shadow: 2px 2px 3px 1px rgb(148 149 153);
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.catitem  {
    width: 19%;
    display: inline-block;
    padding:10px;
}
.catitem div{
   
    border-radius: 10px;
    background-color: white;
    border: 1px solid #eee
}
.catitem p {
    width: 100%;
    text-align: center;
}
.detailField{
    direction: var(--direction)
}
@media (max-width : 724px) {
    .ItemsHome {
       
        width: 60%;
     
    }
}