.subcatHolder {
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color:white;
}
.subcatHolder p {
    padding: 5px 10px;
    direction: rtl;
    border-bottom:1px solid #eee;
    margin:0;
    cursor:pointer;
}
.subcatimage {
    max-width: 30px;
    margin-left:30px;
}
.subcatHolder img{
    padding:5px
}