

<html>

<head>
    <title></title>
</head>

<body>

    <div class="row" style="padding:25px ; background-color:orange;width: 50% auto;width: 48%;margin: 0px auto;">
        <div style="width:30%; margin: auto">
            <img src="{siteLogo}" style="width:100% ; object-fit:cover">
        </div>
    </div>
    <div class="row" style="width:50%; margin: 0px auto;padding: 10px;border: 1px solid #ddd;border-radius: 0 0 5px 5px;">
        
        <div style="width:60%; display:inline-block;text-align: center;">
            <p>کاربر محترم خوش آمدید</p>
            <p>کد تایید شما : {verifCode}  </p>
            <p>با تشکر نشانک </p>
        </div>
    </div>
    <div>
    </div>



</body>

</html>

