
@model neshanak.viewModel.FAQVM
@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{


    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />

    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-theme.css" rel="stylesheet" />
   <style>
       .formholder {
           margin-top: 70px;
           display: flex;
           align-items: center;
           padding: 20px;
           background-color: white;
           justify-content:center;
          
           
       }
       .formholder input{
           margin : 20px
       }
       .tableItem {
           display: flex;
           background-color: white;
           border-bottom: 1px solid #eee;
           border-radius: 5px;
           padding: 5px;
           margin: 5px;
       }

           .tableItem p {
               min-width: 100px;
           }
       @@media screen and (max-width: 750px) {
           .formholder {
               margin-top:0;
           }
           .tableItem p{
               min-width:unset !important
           }
           #tableholder{
              
               overflow-x:scroll
           }
           .tableItem{
               width:800px
           }
           .logosectionalone {
               display: block;
               position: relative !important
           }
       }
    </style>
}
@section scripts{
    <script src="~/Scripts/jquery.migrate.js"></script>
    <script src="~/Scripts/slick.js"></script>

   <script>
       $("#bankOK").click(function () {
           var value = $("#amount").val();
           $.ajax({
               url: "/master/getBankTable",
               data: {
                   value: value
               },
               success: function (data) {
                   $("#tableholder").html(data);
               }
           })
       })
    </script>

   
}



<div style="" class="formholder">
    <input id="amount" class="form-control" style="width:250px"  placeholder="@Resources.res.bankINTf1"/><div id="bankOK" class="btn btn-success">@Resources.res.OK</div>
</div>


<div class="" id="tableholder">
    
</div>