body{
    background-color:white;
}
.topheader {
    width: 100%;
    position: relative;
    padding: 10px;
    background-color: #eee;
    direction: rtl;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

    .topheader i {
        font-size: 18px;
        color: navy;
    }
.filterHolder{
    background-color:navy;
    padding:15px;
}
.filterHolder .inputSec{
    padding:5px;
    background-color:#eee;
    border:1px solid #eee;
    border-radius : 5px;
    margin:0;
    direction:rtl;
}
.inputSec input{
    border : none;
    display:inline-block;
    background-color:#eee;

}
.inputSec i {
    font-size: 14px;
    color: navy;
    display: inline-block;
    margin-left:15px;
        
}
.filterSec{
    padding:10px;
    background-color:navy;
    margin:0;
    direction:rtl;
    padding-top:15px
}
.ButtItem{
    direction:rtl;
  
    display:inline-block
}
    .ButtItem i {
        margin-left: 10px;
        font-size: 17px;
        color: white;
        display: inline-block
    }
.ButtItem span{
    color:white;
    display:inline-block; 
    font-size:16px;
}
.ITEMparent {
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin: 10px auto;
    direction: rtl;
    
}

    .ITEMparent img {
       width:100%;
       object-fit:contain;
        /*float: right;*/
        display: inline-block;
        margin-top: 0px;
    }
.titleHolder {
    display: inline-block;
    padding: 5px;
    direction: rtl;
}

span.shop {
    background-color: forestgreen;
    border-radius: 5px;
    display: inline-block;
    color: white;
    padding: 5px;
    font-size: 9px;
}

span.discount {
    background-color: orange;
    border-radius: 5px;
    display: inline;
    color: white;
    padding: 5px;
    font-size: 9px;
}
.modal-dialog {
    position: absolute;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin: auto 5%;
    width: 90%;
    height: 80%;
}

