#css-carousel .item > a {
  display: block;
  height: 432px;
  width: 100%;
  -webkit-background-size: fill;
  -moz-background-size: fill;
  -o-background-size: fill;
  background-size: fill;
}
.ITEMparent {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    margin: 3px auto;
    direction: rtl;
}

    .ITEMparent img {
        width: 100%;
        object-fit: contain;
        /*float: right;*/
        display: inline-block;
        margin-top: 0px;
    }
    .ITEMparent p{
        font-size:12px;
        white-space : nowrap
    }

.titleHolder {
    display: inline-block;
    padding: 5px;
    direction: rtl;
}

span.shop {
    background-color: forestgreen;
    border-radius: 5px;
    display: inline-block;
    color: white;
    padding: 5px;
    font-size: 9px;
}

span.discount {
    background-color: orange;
    border-radius: 5px;
    display: inline;
    color: white;
    padding: 5px;
    font-size: 9px;
}
/*@media (min-width: 993px) {
  .slide-1 {
    background: url(http://www.laithwaiteswine.com/images/us/en/brands/lw/homepage/jun2015/law_slider4_malbec_jun15.jpg) no-repeat center center;
  }

  .slide-2 {
    background: url(http://www.laithwaiteswine.com/images/us/en/brands/lw/homepage/jun2015/law_slider1_frenchrose_jun15.jpg) no-repeat center center;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .slide-1 {
    background: url(http://lorempixel.com/output/food-q-c-1006-427-7.jpg) no-repeat center center;
  }

  .slide-2 {
    background: url(http://lorempixel.com/output/business-q-c-1006-427-7.jpg) no-repeat center center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .slide-1 {
    background: url(http://www.laithwaiteswine.com/images/us/en/brands/lw/homepage/midbanner/apr2015/law_tonyschoice_apr2015.jpg) no-repeat center center;
  }

  .slide-2 {
    background: url(http://www.laithwaiteswine.com/images/us/en/brands/lw/homepage/midbanner/jun2015/law_richredspain_jun2015.jpg) no-repeat center center;
  }
}
@media (max-width: 480px) {
  .slide-1 {
    background: url(http://www.laithwaiteswine.com/images/us/en/brands/lw/homepage/promos/jun2015/lw_bottom2_summeroffers_jun15.jpg) no-repeat center center;
  }
  .slide-2 {
    background: url(http://www.laithwaiteswine.com/images/us/en/brands/lw/homepage/promos/jun2015/lw_bottom3_stonewall_jun15.jpg) no-repeat center center;
  }
}*/