body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#menuHolder{
    padding:5px; 
    background-color:navy;
    color:white;
}
#ItemHolder {
    padding: 5px;
    border-bottom: 1px solid #eee;
    background-color: white;
    margin-top: 1px;
}

    #ItemHolder p {
        text-align:right;
        margin-top:10px;
        direction:rtl;
    }
    .ITEMCAT p {
        margin-top: 10px;
        text-align: center;
    }
.menuHeader{
    margin:5px;
    color:white;
    text-align:right !important;
}
.Header span{
    float:left
}
.ITEMparent {
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    padding-left: 100px;
    margin-left: 10px;
}
    .ITEMparent img {
       
        max-width: 60px;
        /*float: right;*/
        display: inline-block;
        margin-top: 10px;
    }
.titleHolder{
    display:inline-block;
    padding:5px;
    direction:rtl;
}
span.shop {
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
    color: white;
    padding: 5px;
    font-size: 9px;
}
span.discount {
    background-color: forestgreen;
    border-radius: 5px;
    display: inline;
    color: white;
    padding: 5px;
    font-size: 9px;
}
.bannerItem{
    width:100%;
    height:100%;
    display:flex;
}
.footer .header{
    padding:10px;
    text-align:right;
    direction:rtl;
    border-bottom:1px solid #ddd;
    margin:0;
}
.footer .link{
    padding:10px;
    text-align:center;
    direction:rtl;
    border-bottom:1px solid #ddd;
    margin:0;
    

}
.footer .link a{
    color:cornflowerblue
}
.Header{
    margin:10px
}
.topheader {
    width: 100%;
   position:relative;
    padding: 10px;
    background-color: navy;
    direction: rtl;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
.topheader i{
    font-size:18px;
    color:white;
}
