
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="home" class="blog-hero-area">
    <div class="overlay-light"></div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="contents text-center">
                    <h2 style="direction:rtl" class="wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"></h2>
                    <div class="post-meta" style="margin-top:50px">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="blog-single">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12" style="border-radius: 8px; background-color:white; box-shadow: 2px 2px 5px -1px rgba(148,149,153,1)">
                <div class="blog-post">
                    <div class="post-content" style="direction:rtl; text-align:right">
                        <p> @Html.Raw(ViewBag.message)</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





