@model neshanak.viewModel.IndexVM
@{
    ViewBag.Title = "GetSubCat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{


    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />

    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-theme.css" rel="stylesheet" />
}
@section scripts{

    <script src="~/Scripts/jquery.migrate.js"></script>
    <script src="~/Scripts/slick.js"></script>
    <script>
        $(document).ready(function () {
            $('.your-class').slick({
                dots: false,
                infinite: true,
                autoplay: true,
                speed: 500,
                cssEase: 'linear'
            });
        });
    </script>
    <script>
        $(".subcat").click(function () {

            var subcat = $(this).attr('id');

            var url = "/Home/GetSubCat?result=" + subcat;

            window.location.href = url
        })
        $(".final").click(function () {

            var subcat = $(this).attr('id');

            $.ajax({
                url: "/Home/setValues",
                dataType: "html",
                data: {
                    result: subcat,
                    mallID: "0"
                },
                success: function () {
                    var url = "/Home/searchResult";
                    window.location.href = url;
                }
            })




        })
    </script>


}

    <div class="row" style="background-color:black">
        <div id="slideHolder" style=" width:100%; height:auto; margin:auto;display:block">
            <div class="your-class">
                <div class="imageholder">
                    <img src="~/Images/slide.jpg" />
                </div>
                <div class="imageholder">
                    <img src="~/Images/slide.jpg" />
                </div>
                <div class="imageholder">
                    <img src="~/Images/slide.jpg" />
                </div>
                <div class="imageholder">
                    <img src="~/Images/slide.jpg" />
                </div>

            </div>
        </div>
    </div>

<!-- #endregion Jssor Slider End -->
<div style="" class="subcatHolder" data-slide="1" data-speed="500">
    @foreach (var item in Model.cat)
    {
        if (item.IsFinal == 1)
        {
            <p class="final" id="@item.id-@item.catLevel"><img class="subcatimage" src="http://supectco.com/app/portal/uploads/@item.img" /><span>@item.title</span> </p>

        }
        else
        {
            <p class="subcat" id="@item.id-@item.catLevel"><img class="subcatimage" src="http://supectco.com/app/portal/uploads/@item.img" /><span>@item.title</span> </p>

        }
    }

    @*<img class="bannerItem" src="http://supectco.com/app/portal/uploads/@Model.bnr.First().img" />*@
</div>
