
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%; height:100%; background:linear-gradient(to left, rgba(202, 119, 180, 0.5) 0%, rgba(202, 119, 180, 0.5) 100%), url(/Images/images.jpg) no-repeat;background-attachment: fixed;min-height:800px;display:flex; align-items:center">
    <div style=" width:100%; height:100%">
        <div class="row" style="display:flex; padding:50px 10%;justify-content:center;">
            <div style="background-color:white; border-radius:5px;padding : 50px;width:100%">
                @Html.Raw(ViewBag.message)
            </div>

        </div>
    </div>
</div>




